defaults
  mode http
  timeout connect 5s
  timeout client  30s
  timeout server  30s

resolvers k8s
  nameserver kube-dns 10.96.0.10:53

frontend http-in
  bind *:80
  default_backend servers

backend servers
  cookie SERVERID insert indirect nocache
  
  server-template app 2 backend-app.default.svc.cluster.local:80 check resolvers k8s init-addr none cookie myapp
