.idea/Artificial-Inteligence.iml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.edit.xml
.idea/.gitignore
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Semester1/Devops/Lista3/id_ed25519.pub
Semester1/Devops/Lista4/zadanie3/katalog/smok-baza-danych.bin
Semester1/Devops/Lista6/group_vars/all/vault.yaml
Semester1/ML/exercises/4/meta_Books.json
Semester1/ML/exercises/4/meta_Books.json.gz
Semester1/ML/exercises/5/image_emb.npy
Semester1/ML/exercises/5/image_emb_test.npy
Semester1/ML/exercises/5/image_labels.npy
Semester1/ML/exercises/5/image_labels_test.npy
Semester1/ML/exercises/8/decision_boundaries.png
Semester1/WarsztatAI/best_kmnist.pth
Semester1/WarsztatAI/kmnist_data/
Semester1/WarsztatAI/lista_dodatkowa/.env
Semester1/WarsztatAI/lista_dodatkowa/model
Semester1/WarsztatAI/MNIST/
Semester1/WarsztatAI/model.onnx
Semester1/WarsztatAI/model.onnx.data
Semester1/WarsztatAI/raw_kmnist/
Semester1/WarsztatAI/wandb/
Semester2/AdvancedDataMining/2/data/*
Semester2/AdvancedDataMining/2/wandb/*
Semester2/AdvancedDataMining/3/__pycache__/config.cpython-313.pyc
Semester2/AdvancedDataMining/3/__pycache__/dataset.cpython-313.pyc
Semester2/AdvancedDataMining/3/__pycache__/model.cpython-313.pyc
Semester2/AdvancedDataMining/3/runs/tmodel/events.out.tfevents.1774306111.mrbeast.15479.0
Semester2/AdvancedDataMining/3/tokenizer_en.json
Semester2/AdvancedDataMining/3/tokenizer_it.json
Semester2/NeuralNetworks/3/dataset/*
Semester2/NeuralNetworks/*/data/*
Semester2/AdvancedDataMining/5/data/*
wandb/
