Semester1/Devops/Lista3/id_ed25519.pub
Semester1/WarsztatAI/kmnist_data/
Semester1/WarsztatAI/raw_kmnist/
Semester1/WarsztatAI/MNIST/
Semester1/WarsztatAI/wandb/
Semester1/WarsztatAI/lista_dodatkowa/.env
