defaults
  mode http
  timeout connect 5s
  timeout client  30s
  timeout server  30s

resolvers k8s
  nameserver kube-dns 10.96.0.10:53

frontend http-in
  bind *:80
  
  # tabela z adresami ip z ostatnich 10 sekund
  stick-table type ip size 100k expire 10s store http_req_rate(10s)

  # sledz adres ip
  http-request track-sc0 src
  
  http-request deny deny_status 429 if { sc0_http_req_rate gt 5 }

  # flaga is_wget
  # -i - ignoruj wielkosc liter
  # -m - zawiera
  acl is_wget req.hdr(User-Agent) -i -m sub wget

  http-request deny if is_wget

  default_backend servers

# --- Tutaj wklej swoją sekcję backend servers z poprzednich zadań ---
backend servers
  balance roundrobin
  cookie SERVERID insert indirect nocache

  server-template stable 2 backend-app.default.svc.cluster.local:80 check resolvers k8s init-addr none cookie stable
