defaults
  mode http
  timeout connect 5s
  timeout client  30s
  timeout server  30s

resolvers k8s
  nameserver kube-dns 10.96.0.10:53

frontend http-in
  bind *:80
  default_backend servers

backend servers
  balance roundrobin
  cookie SERVERID insert indirect nocache

  # Ten naglowek zobaczy whoami
  http-request add-header X-Student Michal

  # Tego naglowka NIE zobaczy klient (curl)
  http-response del-header Date

  server-template stable 2 backend-app.default.svc.cluster.local:80 check resolvers k8s init-addr none cookie stable weight 45
  server-template canary 1 backend-canary-svc.default.svc.cluster.local:80 check resolvers k8s init-addr none cookie canary weight 10
