defaults
  mode http
  timeout connect 5s
  timeout client  30s
  timeout server  30s

resolvers k8s
  nameserver kube-dns 10.96.0.10:53

frontend http-in
  bind *:80
  default_backend servers

backend servers
  balance roundrobin

  retries 3
  
  # jezeli serwer nie odpowiada to wysylamy do innego po 3 probacg
  option redispatch

  # inter 2s - sprawdzaj zdrowie co 2 sekundy 
  # fall 2 - uznaj za martwy po 2 nieudanych probach
  server-template stable 2 backend-app.default.svc.cluster.local:80 check inter 2s fall 2 resolvers k8s init-addr none
